<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="js/vue.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/jquery-3.4.1.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/md5.js"></script>
		<script src="js/axios.min.js"></script>
		<link rel="stylesheet" href="css/MyCss.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
		<title>注册</title>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div id='reg' class="col-sm-12 column">
					<!--登录注册导航栏部分-->
					<div class="header_log_reg">
						<a href="login.html" >登录</a>
						<span>│</span>
						<a href="register.html" class="a_PresentHtml ">注册</a>
					</div>
					<!--注册部分-->
					<div style="margin-top: 5px;">
						<div class="col-md-12 column">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label for="phoneNumber" class="col-sm-2 control-label formLabel ">手机号:</label>
									<div class="col-sm-12">
										<input v-model="phoneNumber"  name="phoneNumber" type="text" class="form-control formInput" style="width: 75%;float: left;" maxlength="11" placeholder="最高为11位"/>
										<input v-bind:disabled="dis" v-model="btnTxt"  name="btnTxt" @click="sendCaptcha" type="button" class="btn btn-default btn-info btn_send btn_word" style="padding: 0px;" value="发送" />
									</div>
								</div>
								<div class="form-group">
									<label for="captcha" class="col-sm-2 control-label formLabel ">验证码:</label>
									<div class="col-sm-10">
										<input v-model="captcha" name="captcha" class="form-control formInput" maxlength="4" placeholder="您收到的四位验证码"/>
									</div>
								</div>
								<div class="form-group">
									<label for="pwd" class="col-sm-2 control-label formLabel ">密码:</label>
									<div class="col-sm-10">
										<input v-model="pwd" name="pwd" type="password" class="form-control formInput" maxlength="16" placeholder="最高16位的密码"/>
									</div>
								</div>
								<div class="form-group">
									<label for="pwdRe" class="col-sm-2 control-label formLabel ">重新输入密码:</label>
									<div class="col-sm-10">
										<input v-model="pwdRe" name="pwdRe" type="password" class="form-control formInput" maxlength="16" placeholder="最高16位的密码"/>
									</div>
								</div>
								<span style="color: red; font-size: 10px;">{{message}}</span>
							</form>
						</div>
					</div>
					<!--注册按钮-->
					<div class="col-md-12 column">
						<button @click="doregister" type="button" class="btn btn-block btn-default btn-info btn_word">注册</button>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		new Vue({
			el:'#reg',
			data(){
				return{
					phoneNumber:"",
					btnTxt:"发送",
					time:0,
					dis:false,
					pwd:"",
					pwdRe:"",
					captcha:"",
					message:""
				}
			},
			methods:{
				sendCaptcha(){
					var phone = this.phoneNumber;
					if(!phone){
						this.message='手机号码不可为空';
					}
					else if(!/^1[345678]\d{9}$/.test(phone)){
						this.message='请输入正确是手机号';
					}
					else{
						var params = new URLSearchParams();
						params.append("phoneNumber",phone);
						axios
							.post("/user/sendRegSMS",params)
							.then(res=>{
								var response = res.data;
								if(response=='SMS_SEND_FAILED'){
									this.message='手机号已被注册';
								}
								else if(response=='SMS_PLEASE_WAIT'){
									this.message='验证码已经发送，请稍后再试';
								}
								else{
									this.time = 60;
									var timer = setInterval(()=>{
										this.dis=true;
										this.time--;
										this.btnTxt=this.time+'s';
										if(this.time<=0){
											this.btnTxt='发送';
										}
									},1000);
								}
							})
					}
				},
				doregister(){
					if(this.pwd!=this.pwdRe){
						this.message='两次密码输入不同';
					}
					else{
						var phone = this.phoneNumber;
						if(!phone){
							this.message='手机号码不可为空';
						}
						else if(!/^1[345678]\d{9}$/.test(phone)){
							this.message='请输入正确是手机号';
						}
						else{
							var pwdMd5 = md5(this.pwd);
							var capt = this.captcha;
							
							var params = new URLSearchParams();
							params.append("phoneNumber",phone);
							params.append("pwd",pwdMd5);
							params.append("captcha",capt);
							axios
								.post('/user/register',params)
								.then(res=>{
									var response = res.data;
									if(response=='USER_HAS_EXIST'){
										this.message='手机号已被注册';
									}
									else if(response=='USER_REG_FAILED'){
										this.message='验证码错误';
									}
									else{
										localStorage.setItem("token", response);
										window.location.href="main_frame.html";
									}
								})
							
						}
					}
				}
			}
		})
	</script>
</html>
